# Git
.git 
.gitignore

# Docker
.docker

# Editor
.idea/
.vscode/

# Python
app/__pychache__/
app/*/__pychache__/
app/*/*/__pychache__/
app/*/*/*/__pychache__/
app/*/*/*/*/__pychache__/
.env/
.venv/
venv/
